<app-header (toggle)="toggleSidebar()" [isSidebarOpened]="isSidebarOpened">
  <div class="logo-wrapper">
    <a
      href="https://docs.nest-js.fr"
      title="Documentation | NestJS - A node.js framework built on top of TypeScript"
    >
      <img alt="NestJS Logo" src="/assets/logo-small-gradient.svg" />
    </a>
  </div>
</app-header>
<div class="container-fluid">
  <app-menu [class.opened]="isSidebarOpened"></app-menu>
  <div class="container" [class.wide]="!isSidebarOpened">
    <div class="page-wrapper">
      <app-toc [contentReference]="contentRef"></app-toc>
      <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
    </div>
    <div class="sponsors-wrapper">
      <div class="sponsors-container">
        <h3>Soutenez-nous</h3>
        <p>
          Nest est un projet open source sous licence MIT. Il peut se développer grâce au soutien de ces personnes formidables. Si vous souhaitez les rejoindre, apprenez-en plus <a routerLink="/support">ici</a>.
        </p>
        <div class="row clearfix">
          <div class="inline-column">
            <h4 class="title">Sponsors Principaux</h4>
            <a href="https://trilon.io/" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/trilon.svg"
                alt="Trilon Logo" 
                class="logo-sponsor"
              />
            </a>
            <!-- <a href="https://www.redhat.com/" target="_blank" class="logo-sponsor-container">
              <img src="/assets/sponsors/red-hat-logo.svg" alt="Red Hat Logo" class="logo-sponsor" />
            </a> -->
            <!-- <a href="https://github.com/Sanofi-IADC" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/sanofi.png"
                alt="Sanofi Logo"
                class="logo-sponsor"
              />
            </a>
            <a href="https://nx.dev/" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/nx-logo.png"
                alt="Nx Logo"
                class="logo-sponsor logo-sponsor--slim"
              />
            </a>-->
            <a href="https://marblism.com?utm_source=nest" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/marblism-logo.png"
                alt="Marblism Logo"
                class="logo-sponsor"
              />
            </a>
            <a href="https://mojam.co" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/mojam-logo.png"
                alt="Mojam Logo"
                class="logo-sponsor logo-sponsor--slim"
              />
            </a>
            <a href="https://amplication.com/" target="_blank" class="logo-sponsor-container">
              <img
                src="/assets/sponsors/amplication.svg"
                alt="Amplication Logo"
                class="logo-sponsor"
              />
            </a>
          </div>
          <div class="inline-column">
            <h4 class="title">Sponsors / Partenaires</h4>
            <a
              href="https://opencollective.com/nest"
              class="btn btn-primary"
              target="_blank"
              rel="nofollow"
            >
              <span>Devenir un sponsor</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-newsletter></app-newsletter>
    <app-footer>
      <p>
        Fait par
        <a
          href="https://kamilmysliwiec.com"
          target="_blank"
          title="Kamil Mysliwiec Blog | Full-Stack Software Engineer"
        >
          Kamil Myśliwiec
        </a>
      </p>
    </app-footer>
  </div>
</div>
